image: maven:latest

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

# Cache and keep downloaded dependencies between CI pipelines
cache:
  key: maven-build
  paths:
    - .m2/repository

build:
  stage: build
  script:
    - mvn compile

test:
  stage: test
  script:
    - mvn test

# Documentation
pages:
  stage: deploy
  script:
    - mvn javadoc:javadoc
    - mkdir public
    - cp -r target/site/apidocs/ public/
  artifacts:
    paths:
      - public
    expire_in: 1 day
  only:
    - master
